<a href="https://colab.research.google.com/github/gaur8av/Pandas/blob/main/Lecture_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Arithmetic operator in pandas

In [13]:
import pandas as pd
var=pd.DataFrame({"a":[1,3,5,6,7],"b":[6,4,9,0,1]})
print(var)
print()
var["c"]=var["a"] + var["b"]
print(var)
print()
var["c"]=var["a"] - var["b"]
print(var)
print()
var["c"]=var["a"] * var["b"]
print(var)
print()
var["c"]=var["a"] % var["b"]
print(var)
print()
var1["c"] = var1["a"]+3-var1["b"]
print(var1)

   a  b
0  1  6
1  3  4
2  5  9
3  6  0
4  7  1

   a  b   c
0  1  6   7
1  3  4   7
2  5  9  14
3  6  0   6
4  7  1   8

   a  b  c
0  1  6 -5
1  3  4 -1
2  5  9 -4
3  6  0  6
4  7  1  6

   a  b   c
0  1  6   6
1  3  4  12
2  5  9  45
3  6  0   0
4  7  1   7

   a  b    c
0  1  6  1.0
1  3  4  3.0
2  5  9  5.0
3  6  0  NaN
4  7  1  0.0

    a   b   c
0  10  15  -2
1  20  16   7
2  30  17  16
3  40  18  25

In [16]:
var1=pd.DataFrame({"a":[10,20,30,40],"b":[15,16,17,18]})
print(var1)
print()
var1["c"] = var1["a"] <= var1["b"]
print(var1)
print()
var1["c"] = var1["a"] != var1["b"]
print(var1)
print()
var1["c"] = var1["a"] >= var1["b"]
print(var1)
print()
var1["c"] = var1["a"] == var1["b"]
print(var1)
print()
var1["c"] = var1["b"] >= 16
print(var1)
print()
var1["c"] = var1["a"]/10
print(var1)
print()

    a   b
0  10  15
1  20  16
2  30  17
3  40  18

    a   b      c
0  10  15   True
1  20  16  False
2  30  17  False
3  40  18  False

    a   b     c
0  10  15  True
1  20  16  True
2  30  17  True
3  40  18  True

    a   b      c
0  10  15  False
1  20  16   True
2  30  17   True
3  40  18   True

    a   b      c
0  10  15  False
1  20  16  False
2  30  17  False
3  40  18  False

    a   b      c
0  10  15  False
1  20  16   True
2  30  17   True
3  40  18   True

    a   b    c
0  10  15  1.0
1  20  16  2.0
2  30  17  3.0
3  40  18  4.0