<a href="https://colab.research.google.com/github/gaur8av/Pandas/blob/main/Lecture_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Delete and insert data

In [11]:
import pandas as pd
import numpy as np
var = pd.DataFrame({"a":[1,2,3,4,5],"b":[0,9,8,7,6]})
print(var)
print()
var.insert(2,"c",{1:[1,3,5,7,9]})
print(var)
print()
var.insert(3,"d",var["a"])
print(var)

   a  b
0  1  0
1  2  9
2  3  8
3  4  7
4  5  6

   a  b                c
0  1  0              NaN
1  2  9  [1, 3, 5, 7, 9]
2  3  8              NaN
3  4  7              NaN
4  5  6              NaN

   a  b                c  d
0  1  0              NaN  1
1  2  9  [1, 3, 5, 7, 9]  2
2  3  8              NaN  3
3  4  7              NaN  4
4  5  6              NaN  5

In [ ]:
var_1 = pd.DataFrame({"a":[1,2,3,4,5],"b":[0,9,8,7,6]})
print(var_1)
print()
var_1["c"] = var_1["a"][:3]  #when we want limited amount of data
print(var_1)

Deleteing data from dataFrame

In [27]:
var_1 = pd.DataFrame({"a":[1,2,3,4,5],"b":[0,9,8,7,6],"c":[0,5,8,7,5]})
print(var_1)
print()
l1=list(var_1.pop("b"))  #using pop function
print(l1)
print()
print(var_1)  #after pop
print()
del var_1["a"]
print(var_1)

   a  b  c
0  1  0  0
1  2  9  5
2  3  8  8
3  4  7  7
4  5  6  5

[0, 9, 8, 7, 6]

   a  c
0  1  0
1  2  5
2  3  8
3  4  7
4  5  5

   c
0  0
1  5
2  8
3  7
4  5